* {
    margin: 0;
    padding: 0;

}

body {

    background-color:rgb(49, 49, 49);
    padding:30px;
    

}

.container { 

    width: 50%;      
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    /* flex-wrap:wrap-reverse; */
    
}

.content {

    border: gray 1px solid;
    background-color:rgb(22, 22, 27);
    color: whitesmoke;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    padding:2rem;
    margin-top: 30px;
    flex-wrap: wrap;
    border-radius: 20px;
    position: relative;
    gap: 2rem;
    
}

.continent {
    width: 20rem;
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(107, 102, 98, 0.616);
    border-radius: 10px;
    
}
.continent:hover {
    cursor: pointer;
}

img.flag {
    height: 150px;
    width: 220px;
}
.logo {
    width: 50%;
}
p {

    font-size: 15px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;

}

.heading {

 /* border: white 3px solid; */
 padding:10px;
 display: flex;
 justify-content: center;
 font-size: 3rem;
 font-family: 'Open Sans', sans-serif;
    
}

h3 {

    font-size: 20rem;

}

#searchCountry {

    padding: 10px;
    width: 24rem; 
    cursor: pointer;
    border-radius: 20px;
    border: grey 2px solid;
    background-color: rgb(56, 54, 54);
}

select{

    cursor: pointer;
    border-radius: 10px;
    background-color: gray;
}

.moreinfo {
    background-color: rgba(0, 0, 0, 0.815);
    position: fixed;
    left: 10%;
    right: 10%;
    /* bottom: 10%; */
    top: 10%;
    z-index: 100;
    border-radius: 20px;
    flex-wrap:wrap-reverse;
    color: bisque;
    box-shadow: 2px 2px grey;
    overflow: hidden;
    display: flex;

}
.moreinfo .flag {
    width: 50%;
    padding: 2rem;
    height: 300px;
}

.moreinfo .addInfo {
    padding: 1rem;
    height: 300px;
    background: rgba(51, 45, 45, 0.973);
    flex-grow: 1;
}
.icon {
    width: fit-content;
}

.exit {
    width: 50px;
    height: 50px;
    margin-left: 360px;
    border: 1px solid white;
    background: #fff;
    flex-wrap: wrap;
    position: relative;
    left: 60%;
    top: -10%;
    cursor: pointer;
    rotate: 180deg;
}
.show {
    display: flex;
}
.flagBar div {

    padding: 2rem;
    border: white 1px solid;
    flex-wrap: wrap;


}